@page "/driver"

<div class="driver-grid">

    <div class="left">
        <div class="block">Карточка водителя</div>
        <div class="block">Закрепленный автомобиль</div>

        <div class="block big">Взаимодействие с заявками</div>
    </div>

    <div class="right">
        <div class="map">Карта</div>

        <div class="history">
            История заявок
            <button>Выгрузка</button>
        </div>
    </div>

</div>