@page "/employee"

<div class="create-grid">

    <div class="left">
        <div class="block">
            <div>Окно просмотра</div>
            <div>Окно просмотра</div>
        </div>

        <button>Подтвердить</button>
    </div>

    <div class="right">
        <div class="form">Окно ввода данных</div>
        <div class="map">Карта</div>

        <div class="actions">
            <button>Отправить</button>
            <button>Стереть</button>
        </div>
    </div>

    <div class="footer">
        Ими гордится наша компания
    </div>

    <div class="support">
        Тех. поддержка
    </div>

</div>