@page "/employee"

<div class="employee-grid">

    <div class="emp-left-col">
        <div class="emp-col-title">Выбор машины и водителя</div>

        <div class="emp-selectors">
            <div class="emp-view window">Окно просмотра</div>
            <div class="emp-view window">Окно просмотра</div>
        </div>

        <button class="confirm-btn">Кнопка подтвердить</button>
    </div>

    <div class="emp-right-col">
        <div class="emp-col-title">Создать заявку на поездку</div>

        <div class="emp-form window">Окно ввода данных для поездки</div>
        <div class="emp-map window">Карта</div>

        <div class="emp-actions">
            <button class="send-btn">Кнопка - отправить</button>
            <button class="clear-btn">Кнопка - стереть</button>
        </div>
    </div>

  
    <div class="footer-row">
        <div class="footer-company block">Ими гордиться наша компания</div>
        <div class="footer-support block">Тех. поддержка</div>
    </div>

    
    <div style="grid-column: 1/-1; text-align: center; margin-top: 10px;">
        <button onclick="location.href='/'">← На главную</button>
    </div>
</div>