@page "/"

<div class="main-grid">

    <div class="sidebar-panel">
        <div class="sidebar-header">Меню</div>
        <div class="block info-block">Личная информация</div>

        <div class="sidebar-buttons">
            <button class="menu-btn">Кнопка - заявки</button>
            <button class="menu-btn">Кнопка - автомобили</button>
            <button class="menu-btn" onclick="location.href='/driver'">Кнопка - водители</button>
            <button class="menu-btn">Кнопка - Статистика</button>
        </div>
    </div>

    <div class="content-panel">
        <div class="news-wrapper">
            <div class="news-header">Последние новости</div>
            <div class="news-viewer">Окно просмотра</div>
        </div>

        <div class="big-view-wrapper">
            <div class="big-viewer">
                Окно просмотра информации, по кнопкам слева
            </div>
            <button class="fullscreen-btn">Кнопка - во весь экран</button>
        </div>
    </div>
</div>